// Variables

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

$bodyfont:'IBM Plex Sans', sans-serif;
$headingfont:'Rubik', sans-serif;;

$p100: 100%;

$sid-bar-w: 340px;
$hed-max: 110px;
$main-hed-nav: 60px;
$default-border-radius: 10px;
$fct-border-radius: 10px;
$border-circle: 50%;
$mini-sid-bar-w: 60px;
$ctrl-sid-bar-w: 360px;
$inn-pg-sid-bar-w: 280px;
$aside-radius: 30px;

// Typography
//
// Font-size, font-weight


$fw-unset:unset;
$fw-100:100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
$fw-light: 100;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-0: 0;
$fs-10: 0.7143rem;
$fs-12: 0.8571rem;
$fs-14: 1rem;
$fs-16: 1.143rem;
$fs-18: 1.286rem;
$fs-20: 1.429rem;
$fs-22: 1.5714285714285714rem;
$fs-24: 1.714rem;
$fs-26: 1.857rem;
$fs-30: 2.143rem;
$fs-32: 2.2857142857142856rem;
$fs-36: 2.5714285714285716rem;
$fs-38: 2.7142857142857144rem;
$fs-40: 2.857rem;
$fs-42: 3rem;
$fs-46: 3.2857142857142856rem;
$fs-48: 3.4285714285714284rem;
$fs-50: 3.571rem;
$fs-60: 4.286rem;
$fs-70: 5rem;
$fs-72: 5.142857142857143rem;
$fs-76: 5.428571428571429rem;
$fs-78: 5.571428571428571rem;
$fs-80: 5.714rem;
$fs-100: 7.142857142857143rem;
$fs-140: 10rem ;
$fs-180: 12.857142857142858rem;
$fs-200: 14.285714285714286rem ;

/*Social Media Colors*/
$facebook: #3b5998;
$google: #dd4b39;
$twitter: #1da1f2;
$linkedin: #0077b5;
$pinterest: #bd081c;
$git: #6cc644;
$tumblr: #35465c;
$vimeo: #1ab7ea;
$youtube: #ff0000;
$flickr: #ff0084;
$reddit: #ff4500;
$dribbble: #ea4c89;
$skype: #00aff0;
$instagram: #e1306c;
$lastfm: #d51007;
$behance: #1769ff;
$rss: #f26522;
$bitbucket: #205081;
$dropbox: #007ee5;
$foursquare: #2d5be3;
$github: #4078c0;
$vk: #45668e;

/*Theme Colors*/
$dark: #475F7B;
$light:#d5dfea;
$light2:#fafafa;
$light3: #f2f4f4;
$light4: #dfe3e7;
$light5: #bac0c7;
$dx-blue: #485e90;
$white:#ffffff;
$black:#000000;
$primary:#6384ea;
$secondary:#e5eaee;
$info:#38c1f1;
$success:#39DA8A;
$warning:#f9c20f;
$danger:#f1376e;
$mildgray: #bcc2c8;

$icon-lite-color: #b5b5c3;

/*Lite color*/
$primary-lite:#e1f0ff;
$secondary-lite:#e9edf2;
$info-lite:#def6ff;
$success-lite:#caffe5;
$warning-lite:#fff4de;
$danger-lite:#ffe2e5;

/*Theme Colors For Dark*/
$body-dark: #1a233a;
$dark-text: #c5cede;
$dark2: #566f9e;
$dark3: #272e48;
$dark-title: #bdd1f8;

$colors: (
  'primary':   $primary,
  'secondary':   $secondary,
  'info':      $info,
  'success':   $success,
  'warning':   $warning,
  'danger':    $danger,
  'dark':      $dark,
  'white':     $white,
  'black':     $black,
  'light':     $light,
);

$gray-100:      #f3f6f9;
$gray-200:      #ebedf3;
$gray-300:      #e4e6ef;
$gray-400:      #d1d3e0;
$gray-500:      #b5b5c3;
$gray-600:      #7e8299;
$gray-700:      #5e6278;
$gray-800:      #3f4254;
$gray-900:      #181c32;


$theme-primary-primary: #6384ea;
$theme-primary-secondary:#e5eaee;
$theme-primary-info: #38c1f1;
$theme-primary-success: #39DA8A;
$theme-primary-danger: #f1376e;
$theme-primary-warning: #f9c20f;

$theme-primary-primary-lite: #e1f0ff;
$theme-primary-secondary-lite:#e9edf2;
$theme-primary-info-lite: #def6ff;
$theme-primary-success-lite: #caffe5;
$theme-primary-danger-lite: #ffe2e5;
$theme-primary-warning-lite: #fff4de;

$theme-primary-grd: linear-gradient(45deg, $theme-primary-primary, $theme-primary-info);
$theme-primary-grd-dark: linear-gradient(45deg, darken($theme-primary-primary, 20%), darken($theme-primary-info, 20%));


$theme-secondary-primary: #e5eaee;
$theme-secondary-secondary:#6384ea;
$theme-secondary-info: #38c1f1;
$theme-secondary-success: #39DA8A;
$theme-secondary-danger: #f1376e;
$theme-secondary-warning: #f9c20f;

$theme-secondary-primary-lite: #e9edf2;
$theme-secondary-secondary-lite:#e1f0ff;
$theme-secondary-info-lite: #def6ff;
$theme-secondary-success-lite: #caffe5;
$theme-secondary-danger-lite: #ffe2e5;
$theme-secondary-warning-lite: #fff4de;

$theme-secondary-grd: linear-gradient(45deg, $theme-secondary-primary, $theme-secondary-info);
$theme-secondary-grd-dark: linear-gradient(45deg, darken($theme-secondary-primary, 20%), darken($theme-secondary-info, 20%));

$theme-info-primary: #38c1f1;
$theme-info-secondary:#e5eaee;
$theme-info-info: #6384ea;
$theme-info-success: #39DA8A;
$theme-info-danger: #f1376e;
$theme-info-warning: #f9c20f;

$theme-info-primary-lite: #def6ff;
$theme-info-secondary-lite:#e9edf2;
$theme-info-info-lite: #e1f0ff;
$theme-info-success-lite: #caffe5;
$theme-info-danger-lite: #ffe2e5;
$theme-info-warning-lite: #fff4de;

$theme-info-grd: linear-gradient(45deg, $theme-info-primary, $theme-info-info);
$theme-info-grd-dark: linear-gradient(45deg, darken($theme-info-primary, 20%), darken($theme-info-info, 20%));

$theme-success-primary: #39DA8A;
$theme-success-secondary:#e5eaee;
$theme-success-info: #38c1f1;
$theme-success-success: #6384ea;
$theme-success-danger: #f1376e;
$theme-success-warning: #f9c20f;

$theme-success-primary-lite: #caffe5;
$theme-success-secondary-lite:#e9edf2;
$theme-success-info-lite: #def6ff;
$theme-success-success-lite: #e1f0ff;
$theme-success-danger-lite: #ffe2e5;
$theme-success-warning-lite: #fff4de;

$theme-success-grd: linear-gradient(45deg, $theme-success-primary, $theme-success-info);
$theme-success-grd-dark: linear-gradient(45deg, darken($theme-success-primary, 20%), darken($theme-success-info, 20%));

$theme-danger-primary: #f1376e;
$theme-danger-secondary:#e5eaee;
$theme-danger-info: #38c1f1;
$theme-danger-success: #39DA8A;
$theme-danger-danger: #6384ea;
$theme-danger-warning: #f9c20f;

$theme-danger-primary-lite: #ffe2e5;
$theme-danger-secondary-lite:#e9edf2;
$theme-danger-info-lite: #def6ff;
$theme-danger-success-lite: #caffe5;
$theme-danger-danger-lite: #e1f0ff;
$theme-danger-warning-lite: #fff4de;

$theme-danger-grd: linear-gradient(45deg, $theme-danger-primary, $theme-danger-info);
$theme-danger-grd-dark: linear-gradient(45deg, darken($theme-danger-primary, 20%), darken($theme-danger-info, 20%));

$theme-warning-primary: #f9c20f;
$theme-warning-secondary:#e5eaee;
$theme-warning-info: #38c1f1;
$theme-warning-success: #39DA8A;
$theme-warning-danger: #f1376e;
$theme-warning-warning: #6384ea;

$theme-warning-primary-lite: #fff4de;
$theme-warning-secondary-lite:#e9edf2;
$theme-warning-info-lite: #def6ff;
$theme-warning-success-lite: #caffe5;
$theme-warning-danger-lite: #ffe2e5;
$theme-warning-warning-lite: #e1f0ff;

$theme-warning-grd: linear-gradient(45deg, $theme-warning-primary, $theme-warning-info);
$theme-warning-grd-dark: linear-gradient(45deg, darken($theme-warning-primary, 20%), darken($theme-warning-info, 20%));







