/* V_5 UPDATES 29/12/2021 */
html,body{
  height:100% !important
}
.error{
    color:red;
    
}
.cursor-pointer{
    cursor: pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .file-upload {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    opacity: 0;
    cursor: pointer;
}
.btn{
  padding: 0.375rem 0.75rem;

}

.dt-dropdown{
  width:50%;
}
.navbar-custom-menu .navbar-nav > li{
  height:30px;
}

.card {
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  margin-bottom: 30px;
  width:200px;
}
.card-small .thumbnail {
  min-height: 200px;
}

.card .thumbnail {
  border: 0 none;
  padding: 0;
  margin: 0;
  min-height: 270px;
  position: relative;
}

.card .thumbnail img {
  width: 100%;
}

.card .thumb-cover {
  padding: 15px 20px;
  height: 100%;
  top: 0;
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.95);
}
.thumb-cover{
transition: all 0.2s ease 0s;
-webkit-transition: all 0.2s ease 0s;   
}

.card .details {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.75)), color-stop(62%, rgba(0,0,0,0.36)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e000000', endColorstr='#00000000',GradientType=0 );
  top: 0;
  display: block;
  height: 60px;
  padding: 10px 15px 0;
  position: absolute;
  width: 100%;
}

.card .user {
  font-weight: 400;
  color: #FFFFFF;
  text-shadow: 0 1px 2px rgba(0,0,0,0.23);
  line-height: 20px;
  display: block;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.card .user .user-photo {
  width: 35px;
  height: 35px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.card .user .name {
  line-height: 35px;
  margin-left: 10px;
  font-size: 16px;
  float: left;
}

.card .numbers {
  color: #FFFFFF;
  float: right;
  margin-top: 6px;
}

.card .numbers .downloads, .card .numbers .comments-icon {
  margin-left: 6px;
  font-size: 15px;
  font-weight: 500;
}

.card .numbers .fa {
  font-size: 18px;
}

.card .numbers .downloads, .card .numbers .comments-icon {
  margin-left: 6px;
  font-size: 15px;
  font-weight: 500;
}

.card-info {
  background-color: #FFFFFF;
  position: relative;
  height: 120px;
}
.card-info {
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;  
}

.card-info .moving {
  padding: 15px;
  background-color: #FFFFFF;
  position: relative;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: returnBounce;
  -moz-animation-name: returnBounce;
  -ms-animation-name: returnBounce;
  -o-animation-name: returnBounce;
  animation-name: returnBounce;
}

.card-info a {
  color: #434343;
}

.card-small .card-info h3 {
  font-size: 18px;
}
.card-info h3 {
  margin-top: 0;
  font-size: 22px;
}

.card-info h3 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.card-info p {
  font-size: 14px;
  font-style: italic;
  margin: 0;
  color: #666666;
  height: 60px;
}

.card-small .actions {
  height: 55px;
  font-size: 14px;
}

.card .actions {
  background-color: #FFFFFF;
  bottom: -80px;
  color: rgba(33,33,33,0.79);
  display: block;
  height: 80px;
  left: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.card-info .actions a {
  color: #777777;
}

.card .actions a {
  font-weight: 400;
}

.card .separator {
  padding: 0 7px;
  font-weight: 400;
  color: #CCCCCC;
}

.card-info .actions .blue-text {
  color: #00bbff;
}
a, a:hover, a:focus, .btn:focus, .btn:hover, .btn:active, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  text-decoration: none;
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

@media screen and (max-width: 400px) {
  .tab-content{
    height:100%;
  }
  .card{
    width:400px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 20px !important;
}
.dataTables_length{
  margin-left: 10px;
}
div.dataTables_wrapper div.dataTables_length select{
  width:100px;
}
[data-badge] {
  position: relative;
}
[data-badge]:after {
  position: absolute;
  /* right: -10px; */
  margin-left: 15px;
  top: -10px;
  min-width: 10px;
  min-height: 10px;
  /* line-height: 10px; */
  padding: 5px;
  color: #fff;
  background-color: #bf1f1f;
  font-size: 10px;
  border-radius: 20px;
  content: attr(data-badge);
  border: solid 1px #c93a3a;
  z-index: 99999;
}
.slimScrollDiv{
  width: 300px !important;
}
.notification_read{
  background-color: #f5f5f5;
  margin:10;
}

tr.spaceUnder>td {
  padding-bottom: 1em;
}
.sm-scrol{
  width: 250px !important;
}
.main-sidebar{
  min-height: 1200px ;
}
.sidebar{
  height:650px !important ;
  overflow-y: auto;
  
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.ui-datepicker-next span{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.ui-datepicker-prev span{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

header.main-header {
  position: fixed;
  top: 0px;
  width: 100%;
}
aside#main-sidebar {
  position: fixed;
  top: 60px;
}
.content-wrapper{
  position: relative;
  top:70px;
}
.box-body{
  padding-bottom: 70px;
}
#netProfitTable{
  margin-bottom:125px !important;
}
.select2-container--default .select2-results>.select2-results__options{
  max-height: 500px !important;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
  position: initial !important;
    left: initial !important;
    opacity: 1 !important;
}

/*END V_5 UPDATES 29/12/2021 */