.text-align{
    text-align: left;

}
#mainNav .navbar-collapse .navbar-sidenav {
left :0 !important;
right: initial !important;

}

.content-wrapper{
    margin-right:0px !important;
    margin-left: 250px !important;
}