.text-align{
    text-align: right;
}

#mainNav .navbar-collapse .navbar-sidenav {
    right :0 !important;
    left : initial !important
    }

    .content-wrapper{
        margin-right:250px !important;
        margin-left: 0px !important;
    }