form {
    /* text-align: right; */
    width:100%;
}
form input {
    /* text-align: right; */
}
.error{
    color:red;
}

.modal-header .close{
    margin:-15px -15px -15px 0;
}
.bordered-box{
    width: 100px;
    height: 30px;
    border-style: dashed;
    border-color: black;
    border-width: 1px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right:auto;
}
.icon{
    width:20px;
    height:20px;
}

.cursor-pointer{
    cursor: pointer;
}
.dataTables_length{
    margin-left: 10px;
    display: inline-block;
  }

.dataTables_wrapper{
    padding:20px;
}
.border-radius{
    border-radius: 10px;
}


@media screen and (min-width: 990px) {
    #menu-main {
      display: block !important;
    }
  }

  .fa-angle-down{
    display: none !important;
}

.notification{
    position: absolute;
    top:10px;
    left: 36px;
    padding-left: 6px;
    color: white;

    width: 40%;
    background-color: red;
    border-radius: 10px;
}

  .section-height{
      min-height: 700px;
  }

  /* cards */

  .avatar {
    width: 200px;
    height: 200px;
    margin-left: 2em;
    margin-top:2em;
    border-radius: 200px;
    float:center;
}
.jumbotron{
background-color:#ffffff;
border:1px solid #AAA;
border-bottom:3px solid #BBB;
padding:0px;
margin-top:4em;
overflow:hidden;
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
-webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);    
}
.header{
    background: #607D8B;
    
    }
.blue h1, h2, h3 {
    color: #2196F3;
}
.headline {
    color: #FFFFFF;
    margin: 1em;
}
.card {
background:#FFF;
display: block;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
border:1px solid #AAA;
border-bottom:3px solid #BBB;
padding:0px;
margin-top:5em;
font-family: 'Tajawal', sans-serif;
overflow:hidden;
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

-webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-body{
/* margin:1em;    */
}

.pull-left {
float: left;
}

.pull-none {
float: none !important;
}

.pull-right {
float: right;
}

.card-header{
width:100%;
color:#2196F3;
border-bottom:3px solid #BBB;
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding:0px;
margin-top:0px;
overflow:hidden;
-webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);

}
.card-header-blue{
background-color:#2196F3;
color:#FFFFFF;
/* border-bottom:3px solid #BBB; */
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
font-family: 'Roboto', sans-serif;
padding:0px;
margin-top:0px;
overflow:hidden;
font-family: 'Tajawal', sans-serif;
-webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.card-header-red{
background-color:#F44336;
color:#FFFFFF;
border-bottom:3px solid #BBB;
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding:0px;
margin-top:0px;
overflow:hidden;
-webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.card-header-grey{
background-color:#fff;
color:#FFFFFF;
/* border-bottom:3px solid #BBB; */
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding:0px;
margin-top:0px;
overflow:hidden;
-webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.card-header-orange{
background-color:#E65100;
color:#FFFFFF;
border-bottom:3px solid #BBB;
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding:0px;
margin-top:0px;
overflow:hidden;
-webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.card-header-pink{
background-color:#E91E63;
color:#FFFFFF;
border-bottom:3px solid #BBB;
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding:0px;
margin-top:0px;
overflow:hidden;
-webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-heading {
display: block;
font-size: 16px;
line-height: 28px;

margin-left:1em;
border-bottom: 1px #2196F3;
color:#000;
border-radius: 20px;


}
.card-footer{
border-top:1px solid #000;   

}

/* .btn:hover:not(.btn-link):not(.btn-flat) {
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.btn:active:not(.btn-link):not(.btn-flat) {
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.btn:not(.btn-link):not(.btn-flat),
.btn-default:not(.btn-link):not(.btn-flat) {
background-color: transparent;
}
.btn-grey-mat{
background-color:#607D8B;
color:#ffffff;    

margin:10px;
} */

.card-action-pink{
color:#E91E63;

}
.card-action-red{
color:#F44336;

}
.card-action-grey{
color:#424242;

}
.card-action-pink{
color:#E91E63;

}
.card-action-orange{
color:#E65100;

}
.img-fill  {
    max-height: 100%;
    max-width: 100% ;
    display :inline-block;
    margin: 1em;
}

    .card-image {
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;
}
.card-image:first-child {
    border-radius: 2px 2px 0 0;
}
.card-image:last-child {
    border-radius: 0 0 2px 2px;
}
.card-image img {
    display: block;
    height: auto;
    width: 100%;
}

.card-image-text {
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    padding: 12px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/**OVERFLOW MENU**/
/**MENU SETTINGS POPUP**/

.menu {
    display: none;
    background:#607D8B;
    width: 100%;
    padding: 30px 10px 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}
.menu ul {
    margin-bottom: 0;
}
.menu a {
    color: #000;
    text-transform: uppercase;
    opacity: 0.8;
}
.menu a:hover {
    text-decoration: none;
    opacity: 1;
}
.card-body{
    padding:0px; 
    width: 348px;
    height: 195px;
}

.footer {
    position: relative;
    
    top: auto;
    margin-bottom: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

 }

 /* #logo img{
     width: 100%;
 } */

 .vertical-center {
    margin: 0;
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


  header ul.nav-menu > li > a{
    font-size: 18px;
  }

  #user-balance {
      font-size: 18px;
  }
  .fs-18{
      font-size: 18px;
  }