form {
    /* text-align: right; */
    width:100%;
}
form input {
    /* text-align: right; */
}
.error{
    color:red;
}

.modal-header .close{
    margin:-15px -15px -15px 0;
}
.bordered-box{
    width: 100px;
    height: 30px;
    border-style: dashed;
    border-color: black;
    border-width: 1px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right:auto;
}
.icon{
    width:20px;
    height:20px;
}

.cursor-pointer{
    cursor: pointer;
}
.dataTables_length{
    margin-left: 10px;
    display: inline-block;
  }

